* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f5f5f5;
  font-family: "Segoe UI", "Arial";
}

h1,
label,
h4 {
  color: #152029;
}

h1 {
  font-size: 22px;
  margin-bottom: 25px;
}

label {
  font-size: 11px;
  opacity: 0.7;
}

section.content {
  width: 1000px;
  height: 100vh;
  background: #fff;
  box-shadow: 0px 0px 10px #ccc;
  margin: 0 auto;
}

div.box_form {
  border-bottom: 1px solid #ddd;
  padding: 15px 25px;
  background: #f5f5f5;
}

div.box_form > form > input,
div.box_form > form > textarea {
  border: 1px solid #ddd;
  margin-top: 4px;
  color: #666;
  border-radius: 3px;
  padding: 10px 15px;
}

div.box_form > form > input {
  width: 275px;
}

div.box_form > form > textarea {
  width: 405px;
  height: 155px;
}

div.box_form > form > input:focus,
div.box_form > form > textarea:focus {
  outline: 0;
}

div.box_form > form > input.btn-sub {
  background: #c0362c;
  color: #f5f5f5;
  cursor: pointer;
  border: 0;
  border-radius: 10px;
}

div.box_form > form > input.btn-sub:hover {
  transition: all 1s;
  box-shadow: 5px 5px 4px #ccc;
  color: red;
  background-color: black;
  opacity: 1;
}

.b_comm {
  padding: 30px;
}

.b_comm:nth-child(even) {
  background-color: #f5f5f5;
}

.b_comm:nth-child(odd) {
  background-color: #ddd;
}
img#icone {
  position: absolute;
  margin-top: 8px;
  margin-left: 20px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.box_comment > div.b_comm > button {
  position: relative;
  width: 100px;
  height: 30px;
  border-radius: 8px;
  cursor: pointer;
  left: 700px;
  bottom: 50px;
  margin-right: 10px;
}
